// color

$whiteColor: #ffffff;
$backgroundColor: #F5F9FC;
$orangeColor: #E47C3D;
$grayColor: #838383;
$borderGray: #e9e9e9;
$lightGray: #bebebe;
$blackColor: #000000;


// fonts

$xxsSize: 10px;
$xsSize: 16px;
$smallSize: 20px;
$mediumSize: 24px;
$largeSize: 32px;
$xlSize: 48px; 
// font weight
$bold: 900;
//font transform
$uppercase: uppercase;

// spacing

$xsSpacing: 10px;
$smallSpacing: 20px;
$mediumSpacing: 40px;
$sectionSpacing: 60px;


// text-align

$center: center;